extends layout

block content
  h1= title
  div.statusBar
    div.dashHead

      if avatar
        a.avtrLnk(href=`/avatar`) 
          svg.avtr(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 200 200')
            != avatar
      else
        a.avtrLnk(href=`/avatar`) 
          img.avtr(src='/images/bit-brkr-cloud.png')

      a.uname(href=`/${userName}`) #{userName}
      div.statusTool
    div.dashTray
      h3.userStatus= userStatus  
      br
      button.statUpdate(type="button" onclick="window.location.href='/status';") Update Status     
      br
    div.messages
      h3= message
      br  
    div.statusLoc
      h3 Session Data:
        p.privacy This information is not made public by Cursebreakers.
      p IP: #{userIP}
      p #{userLoc}
      p #{userTime}
      p Client: #{userAgent}

      br
      br
      a.exit(href=`/auth/out`) Log out
      br

